@import '_variables';
@import '_mixins';
@import '_typography';
@import '_spacings';


main {
    @include respond-above(sm) {
    }
}

.container {
    margin: 0 auto;

    max-width: 576px;

    @include respond-above(sm) {
        max-width: 768px;
        padding: 64px 20px 0;
    }

    @include respond-above(md) {
        max-width: 992px;
        padding: 64px 50px 0;
    }

    @include respond-above(lg) {
        max-width: 1280px;
    }

    @include respond-above(wxp) {
        max-width: 1560px;
    }

    @include respond-above(wxpp) {
        max-width: 1920px;
    }
}