@import '_variables';
@import '_mixins';
@import '_typography';
@import '_spacings';


main {
    @include respond-above(sm) {
    }
}

.container {
    margin: 0 auto;
    padding: 0 40px;

    max-width: 576px;

    @include respond-above(md) {
        max-width: 992px;
    }

    @include respond-above(lg) {
        max-width: 1280px;
    }

    @include respond-above(wxpp) {
        max-width: 1920px;
    }
}