@font-face {
font-family: Lato;
src: url(~@/assets/fonts/Lato_Light.ttf);
// src: url("fonts/Lato_Light.ttf");
}

@font-face {
font-family: Bodoni;
src: url(~@/assets/fonts/bodoni.ttf);
}

@font-face {
font-family: HamiltoneG;
src: url(~@/assets/fonts/HamiltoneG.ttf);
}

.text {
    @mixin text-breakpoints() {
        &-0 {            
            font-family: Lato;
            font-size: 14px;
            font-weight: 300;
        }

        &-1 {
            font-family: Lato;
            font-size: 18px;
            font-weight: 300;
        }
    
        &-2 {
            font-family: Lato;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
        }
    }

    @include text-breakpoints();

    &-sm {
        @include respond-above(sm) {
            @include text-breakpoints()
        }
    }

    &-md {
        @include respond-above(md) {
            @include text-breakpoints()
        }
    }

    &-lg {
        @include respond-above(lg) {
            @include text-breakpoints()
        }
    }
}

.h {
    @mixin head-breakpoints() {
        &-1 {
            font-family: Bodoni;
            font-weight: 400;
            font-size: 96px;
            line-height: 104px;
            text-align: center;
        }

        &-2 {
            font-family: Bodoni;
            font-weight: 400;
            font-size: 64px;
            line-height: 71px;
        }

        &-3 {
            font-family: Bodoni;
            font-weight: 400;
            font-size: 42px;
            line-height: 48px;
        }

        &-4 {
            
            font-family: Bodoni;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
        }
    }

    @include head-breakpoints();

    &-sm {
        @include respond-above(sm) {
            @include head-breakpoints();
        }
    }

    &-md {
        @include respond-above(md) {
            @include head-breakpoints();
        }
    }

    &-lg {
        @include respond-above(lg) {
            @include head-breakpoints();
        }
    }
}