@font-face {
font-family: Lato;
src: url(~@/assets/fonts/Lato_Light.ttf);
// src: url("fonts/Lato_Light.ttf");
}

@font-face {
font-family: Bodoni;
src: url(~@/assets/fonts/bodoni.ttf);
}

@font-face {
font-family: HamiltoneG;
src: url(~@/assets/fonts/HamiltoneG.ttf);
}